<!-- Footer -->
<footer class="footer" id="footer" style="background-color: white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="company-represent" style="text-align: left">주식회사 더덴트 대표이사: 문승욱, 이종영</span>
        <br>
        <span class="business-number" style="text-align: left">사업자등록번호: 826-81-02597</span>
        <p class="copyright" style="text-align: left;">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</p>
      </div>
      <!-- Social Media -->
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for link in site.data.sitetext[site.locale].footer.social %}
          <li class="list-inline-item">
            {% if link.url %}
            <a href="{{ link.url }}">
              {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- Legal -->
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="legal"
              >{{ site.data.sitetext[site.locale].footer.legal | default:
              "Privacy Policy" }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}
<!-- End Footer -->
